@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    font-family: "quicksand", "sans-serif";
}


body {
    display: block;
    height: 100%;
    font-family: sans-serif;
    color: #ffffff;
    background: linear-gradient(297deg, rgba(185, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 45%, rgba(0, 0, 0, 1) 111%);
    text-align: center;
}

.container-fluid {
    background: linear-gradient(297deg, rgba(185, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 45%, rgba(0, 0, 0, 1) 111%);
}

.navbar {
    padding-bottom: 0px;
    padding-top: 0px;
}

.navbar-brand {
    height: 40px;
    width: 10px;
}

.pollo2 {
    margin-top: -60px;
    margin-left: -40px;

}

.titulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 50px 0px 50px 0px;
}

.titulo h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(130, 28, 28);
    font-size: 30px;
    background-color: rgb(48, 3, 3);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px;
    margin-top: 25px;

}

.cuerpo p {
    line-height: 45px;
    padding: 0px 30px;
}

.cuerpo a {
    font-family: 'Courier New', Courier, monospace;
    color: red;
    padding: 20px;
    text-decoration: none;
}

.lista {
    text-decoration: none;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.lista li {
    display: inline-block;
    margin-left: 20px;
}

.parallax {
    position: relative;
    /* Necesario para el posicionamiento del pseudo-elemento */
    overflow:hidden;
    /* Asegura que el contenido no sobresalga */
    display: flex;
    justify-content: center;
    background-size: cover;
    width: 100%;
    }
    
    
    .parallax::before {
    content: "";
    position: absolute;
    /* Cubre el área del contenedor */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./assets/esy.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    /* o "contain", según necesites */
    background-position: center;
    opacity: 100%;
    /* Ajusta la opacidad aquí */
    z-index: 0;
    /* Asegura que esté por debajo del contenido */
    }
    
    .parallax>* {
    position: relative;
    /* Para que los elementos dentro estén por encima de la imagen de fondo */
    z-index: 1;
    /* Asegura que el contenido esté por encima */
    }
    
    
    .overlay {
    position: absolute;
    /* Cubre el área del contenedor */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(32, 32, 32, 0.901);
    /* Cambia el color y opacidad según sea necesario */
    z-index: 1;
}

/*
.container1{
    display: flex;
    background-color: #334c09;
    height: 500px;
    width: 100%;
}*/

.container1{
    display: flex;
    justify-content: center; /* Centra horizontalmente los contenedores secundarios */
    align-items: center; /* Centra verticalmente los contenedores secundarios */
    background-color: #797979;
    height: 500px;
    width: 100%;
}



.container2{
    display: flex;
    flex-wrap: wrap; /* Permitir que las tarjetas se ajusten */
    justify-content: center; /* Centrar tarjetas horizontalmente */
    padding: 1rem; /* Añadir padding al contenedor para un espaciado adicional */
}
    /*
    display: flex; /* Hacemos que container2 también use Flexbox */
   /*  flex-wrap: wrap; Permitir que las tarjetas se ajusten si hay muchas */
    /* justify-content: center; Centra las tarjetas horizontalmente dentro de container2 */
   /* background-color: #120929;*/


.tarjeta {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 260px; /* Ancho fijo de las tarjetas */
    margin: 1rem; /* Margen responsivo */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.39);
    border: 2px solid #000000;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.908);
    text-align: center;
    transition: transform 0.3s;
}

.tarjeta:hover {
    transform: scale(1.05);
    /* Aumenta el tamaño al pasar el mouse */
}


.imagenContent {
    background-color: rgb(255, 0, 0);
    border-radius: 100%;
    width: 150px;
    height: 150px;
    padding: 3px;
    margin-top: 13px;
}


.imagen {
    background-color: rgba(0, 0, 0, 0.468);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 3px;
    object-fit: cover;
    display: flex;
    justify-items: center;
}

.enlaces{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enlaces a {
    text-decoration: none;
    padding: 6px 29px;
    margin: 10px;
    justify-content: space-around;
    border-radius: 50px;
    background-color: rgb(154, 47, 47);
    color: #ffffff;
}


.enlaces a:hover {
    background-color: #696969;
}

.redes a {
    display: inline-block;
    margin: 10px 13px;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    transition: transform 0.2s;
}

.redes a:hover {
    transform: scale(1.3);
}


.vip {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.row {
    justify-content: center;
}

/*footer*/